$bg_color: white;
$btn_bg: rgb(44, 51, 51);
$text_color: rgba(0, 0, 0, 0.75);
$niddle_min_bg: black;
$niddle_hours_bg: black;
$niddle_sec_bg: red;
$clock_center_bg: black;
$clock_center_border: $niddle_sec_bg;
$daynumber_color: grey;
$transition-color: 0.3s;
